<main>
<pre>
	play classroom game (new)
			show room
				if no room, show list of available rooms
			prompt for player name
			create player in db
			register websocket
			post player's presence
			wait for game to start
			progress through questions
			display when game is finished
			display post-game results

</pre>
</main>



{{# 
http://localhost:3000/lab/play-classroom-game?room=Mr. Green's class
#}}